<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Shop</title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/application.css"/>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="app">

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
                <!--<li class="dropdown">-->
                <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li class="dropdown-header">Nav header</li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">

                <li><a href="#products">Show Products</a></li>
                <li>
                    <a href="#cart">
                        <!--<span class="badge">{{cartCount}}</span>-->
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    </a>
                </li>
                <li><a href="#orders">Show Orders</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div ng-view></div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="products.html">

    <div ng-controller="ProductsCtrl" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <h3>Products</h3>
                    </div>
                    <div class="col-xs-4">
                        <div class="row" ng-if="statusmessage != ''">
                            <div class="col-xs-12">
                                <p class="bg-success text-center">
                                    <span ng-bind="statusmessage"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row" ng-if="errormessage != ''">
                            <div class="col-xs-12">
                                <p class="bg-danger text-center">
                                    <span ng-bind="errormessage"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th width="30%">Description</th>
                            <th width="10%">Unit Price</th>
                            <th width="10%">Available Quantity</th>
                            <th width="5%">Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in products">
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.unitPrice.value | currency}}</td>
                            <td>{{product.quantity}}</td>
                            <td><input type="number" name="quantity" ng-model="quantity" value="1"/></td>
                            <td>
                                <a href="" class="btn btn-sm btn-primary" ng-click="addToCart(product, quantity)">Add To
                                    Cart</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="cart.html">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <h3>Cart</h3>
                </div>
                <div class="col-xs-4">
                    <div class="row" ng-if="statusmessage != ''">
                        <div class="col-xs-12">
                            <p class="bg-success text-center">
                                <span ng-bind="statusmessage"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row" ng-if="errormessage != ''">
                        <div class="col-xs-12">
                            <p class="bg-danger text-center">
                                <span ng-bind="errormessage"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20%">Product Name</th>
                            <th width="30%">Product Description</th>
                            <th width="30%">Quantity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="productOrder in productOrders">
                            <td>{{productOrder.product.name}}</td>
                            <td>{{productOrder.product.description}}</td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="text" name="quantity" ng-model="productOrder.quantity"/>
                                    </div>
                                    <button class="btn btn-sm btn-default" ng-click="updateCart(productOrder)">
                                        Update
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-danger" ng-click="removeFromCart(productOrder)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr ng-hide="productOrders.length">
                            <td colspan="4">No products in Cart</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-show="productOrders.length" class="row">
                <button class="btn btn-sm btn-success" ng-click="submitOrder()">
                    Submit Order
                </button>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="orders.html">

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <h3>Orders</h3>
                </div>
                <div class="col-xs-4">
                    <div class="row" ng-if="errormessage != ''">
                        <div class="col-xs-12">
                            <p class="bg-danger text-center">
                                <span ng-bind="errormessage"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="20%">Product Name</th>
                            <th width="30%">Product Description</th>
                            <th width="30%">Quantity</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="order in orders">
                            <tr ng-repeat="productOrder in order.productOrders">
                                <td>{{productOrder.product.name}}</td>
                                <td>{{productOrder.product.description}}</td>
                                <td>{{productOrder.quantity}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-hide="orders.length" class="row">
                <p>No orders have been made</p>
            </div>
        </div>
    </div>

</script>

</body>
</html>